<section class="Contact-section py-4" id="Contact-section">
  <div class="container details">
    <div class="Skill_Title text-center">
      <h2>Contact Me</h2>
      <span>Get in touch.</span>
    </div>
    <form action="/" method="POST" onsubmit="return validateForm(event);">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row justify-content-between">
            <div class="col-lg-4 col-md-4">
              <div class="Contact-leftside">
                <p class="contactp text-center"><i class="fa-regular fa-comment"></i>
                  Talk to me</p>
                <div class="email">
                  <span>Email</span>
                  <p>
                    <a target="_blank" href="mailto:mominhuzaifa7379@gmail.com">
                      mominhuzaifa7379@gmail.com
                    </a>
                  </p>
                </div>
                <div class="email Whatsapp">
                  <span>Whatsapp</span>
                  <p class="whatsappnumber">
                    <a target="_blank" href="https://wa.me/7379744304">
                      7379744304
                    </a>
                  </p>
                  <p>
                    <a target="_blank" href="https://wa.me/7379744304">
                      Write me
                      <i class="fa-solid fa-arrow-right"></i>
                    </a>
                  </p>
                </div>
                <div class="email Whatsapp">
                  <span>Messenger</span>
                  <p class="whatsappnumber">
                    <a target="_blank" href="https://wa.me/7379744304">
                      7379744304
                    </a>
                  </p>
                  <p>
                    <a target="_blank" href="https://wa.me/7379744304">
                      Write me
                      <i class="fa-solid fa-arrow-right"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="Contact-leftside Contact-rightside">
                <p class="contactp text-center">
                  <i class="fa-solid fa-paper-plane"></i>Write me your project
                </p>
                <div class="contact-form">
                  <div class="contact-formlabelinput">
                    <label for="firstname">Names</label>
                    <input type="text" name="firstName" id="firstname" placeholder="Write your names" />
                    <small id="nameError"></small>
                  </div>
                  <div class="contact-formlabelinput">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Write your email" />
                    <small id="emailError"></small>
                  </div>
                  <div class="contact-formlabelinput">
                    <label for="message">Project</label>
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Write your project"
                    ></textarea>
                    <small id="messageError"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="Submitbutton text-center">
              <button type="submit">Submit<i class="fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</section>