<section class="Footer-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="Footercontent">
                    <h3>Huzaifa</h3>
                    <p>Frontend developer</p>
                    <div class="allFooterlink">
                        <a href="#">Home</a>
                        <a href="#Skill">Skill</a>
                        <a href="#Qualification">Qualification</a>
                        <a href="#Services">Services</a>
                    </div>
                    <div class="allFooterlink py-3">
                        <a href="#Project-section">Project</a>
                        <a href="#Contact-section">Contact</a>
                    </div>
                    <div class="Sociallink allFooterlink pb-5">
                        <a target="_blank" href="https://linkedin.com/in/huzaifa-momin-2256b52a4">
                            <i class="ri-linkedin-line"></i>
                        </a>
                        <a target="_blank" href="https://github.com/Momin-Huzaifa">
                            <i class="ri-github-line"></i>
                        </a>
                        <a target="_blank" href="mailto:mominhuzaifa7379@gmail.com">
                        <i class="ri-mail-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="lastp">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://linkedin.com/in/huzaifa-momin-2256b52a4">Momin Huzaifa</a></p>
    </div>
</section>