<section class="Hero-section" id="Hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="Nametitle">
                    <h1>
                        Hi, I'm
                        <span class="Myname"></span><br />
                        <span class="typingtexteffect"></span><br />
                        Based in Mumbai<br />
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container details">
        <div class="row justify-content-between row-gap-5">
            <div class="col-lg-3">
                <div class="Boigraphyside">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>Boigraphy</h3>
                                <p>
                                    I am a Frontend developer based in Mumbai, India. I am an
                                    Information Technology undergraduate from YCMOU. I am very
                                    passionate about improving my coding skills & developing
                                    applications & websites. I build WebApps and Websites using
                                    Frontend. Working for myself to improve my skills. Love to
                                    build Frontend part of Website clones.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>Contact</h3>
                                <p>
                                    Mumbai,Bhiwandi
                                    <br />
                                    mominhuzaifa7379@gmail.com
                                    <br />
                                    7379744304
                                    <br />
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>services</h3>
                                <p>
                                    Frontend developement
                                    <br />
                                    Backend developement
                                    <br />
                                    website design
                                    <br />
                                    Animation
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex flex-column align-items-center allmain text-center">
                <div class="Mainimage">
                    <div class="InnerMainimage">
                        <img src="./img/Huzaifa_Profile.png" alt="" />
                    </div>
                    <div class="Mainimageicon">
                        <a target="_blank" href="https://linkedin.com/in/huzaifa-momin-2256b52a4">
                            <i class="ri-linkedin-line"></i>
                        </a>
                        <a target="_blank" href="https://github.com/Momin-Huzaifa">
                        <i class="ri-github-line"></i>
                        </a>
                        <a target="_blank" href="mailto:mominhuzaifa7379@gmail.com">
                        <i class="ri-mail-line"></i>
                        </a>
                    </div>
                    <div class="Resumebtn">
                        <a href="https://drive.google.com/file/d/1XIQxQH4gRKCyE26miSIcg0yFJQJCMN5G/view?usp=drive_link"
                            target="_blank" class="btn"><span>Resume</span>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <img src="./img/shape-wawes.svg" class="Wawes" alt="Waves" />
                <img src="./img/shape-circle.svg" class="Circle" alt="Circle" />
            </div>
            <div class="col-lg-3">
                <div class="Experience Boigraphyside">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>year of experience</h3>
                                <p>01+</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>completed projects</h3>
                                <p>06+</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="Boigraphy">
                                <h3>companies worked</h3>
                                <p>01+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>