 <section class="Qualification-section Skill-Section" id="Qualification">
        <div class="container details">
            <div class="Skill_Title text-center">
                <h2><i class="fa-solid fa-graduation-cap"></i> My Qualification</h2>
                <span>Education Is Not The Learning Of Facts, But The Training Of The
                    Mind To Think.</span>
            </div>
            <div class="row pt-4 justify-content-center">
                <div class="col-lg-9">
                    <div class="Educationcard">
                    </div>
                </div>
            </div>
        </div>
    </section>