  <section class="Skill-Section text-center" id="Skill">
        <div class="container details">
            <div class="Skill_Title">
                <h2>Skills</h2>
                <span>My favourite skills</span>
            </div>
            <div class="row pt-4">
                <div class="col-lg-12">
                    <div class="Skill">
                        {{!-- <!-- <h3><i class="ri-braces-line"></i> Frontend Developer</h3> --> --}}
                        <div class="allSkill">
                            <div class="row allskillouterinner justify-content-center gap-lg-4 row-gap-5 flex-wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>